<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hutang Terkini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Daftar Hutang Terkini</h1>
    <table>
        <tr>
            <th>Nama Penghutang</th>
            <th>Jumlah Uang</th>
            <th>Nama Pemberi Hutang</th>
            <th>Status Hutang</th>
        </tr>
        {% for hutang in hutang_list %}
        <tr>
            <td>{{ hutang.nama_penghutang }}</td>
            <td>{{ hutang.jumlah_uang }}</td>
            <td>{{ hutang.nama_pemberi_hutang }}</td>
            <td>{{ hutang.status_hutang }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
